<header class="p-3 flex bg-blue-50 border-b">
  <h1 class="text-3xl font-bold mr-5">
    <a routerLink="/">Foo App</a>
  </h1>
  <nav class="p-2">
    <a
      class="p-2 mx-1 border border-transparent hover:border-slate-300"
      routerLink="/home"
      routerLinkActive="bg-slate-200"
      >🏠 Home</a
    >
    <a
      class="p-2 mx-1 border border-transparent hover:border-slate-300"
      routerLink="/items"
      routerLinkActive="bg-slate-200"
      >🟥 Items</a
    >
    <a
      class="p-2 mx-1 border border-transparent hover:border-slate-300"
      routerLink="/stuff"
      routerLinkActive="bg-slate-200"
      >🔷 Stuff</a
    >
    <a
      class="p-2 mx-1 border border-transparent hover:border-slate-300"
      routerLink="/things"
      routerLinkActive="bg-slate-200"
      >🟢 Things</a
    >
    <a
      class="p-2 mx-1 border border-transparent hover:border-slate-300"
      routerLink="/about"
      routerLinkActive="bg-slate-200"
      >🏦 About</a
    >
  </nav>
</header>
